body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    letter-spacing: 10px;
}

h2, h4, h6 {
    letter-spacing: 5px;
}

hr {
    background: #fad778;
}

p, h3 {
    letter-spacing: 1px;
}

a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    color: #f0ad4e;
}

#add {
    letter-spacing: 0px;
}

#hello {
    margin-top: -380px;
   
}

#info {
    margin-top: -300px;
}

#bye {
    margin-top: -70px;
    
}

#cg {
    margin-top: -5px;
    margin-bottom: 10px;
}

#cgp {
    letter-spacing: 0;
}

#committee {
    letter-spacing: 1px;
}

audio {
    width: 100%;
}

.dropdown-item:focus {
    background: #f0ad4e;
}

#sermons, #test, #events, #connect, #news, #faq {
    
    padding-top: 125px !important;
    padding-bottom: 125px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;

}

#test, #connect, #news {
    background: #fad778;
    color: white;
}

#test:hover {
    color: white;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
        ),
        url("https://images.unsplash.com/photo-1473059299523-3ee06d1b88db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    
    background-size: 500px 500px;
    background-repeat: none;
}

#sermons:hover {
    color: white;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("./assets/images/sermons3.jpg");
    
    background-size: 100% 100%;
    background-repeat: none;
}

#connect:hover {
    color: white;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("./assets/images/connect2.jpg");
    
    background-size: 100% 100%;
    background-repeat: none;
}

#events:hover {
    color: white;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("./assets/images/connect.jpg");
    
    background-size: 100% 100%;
    background-repeat: none;
}

#news:hover {
    color: white;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("./assets/images/news.jpg");
    
    background-size: 100% 100%;
    background-repeat: none;
}

#faq:hover {
    color: white;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("./assets/images/faq2.jpg");
    
    background-size: 100% 100%;
    background-repeat: none;
}

#map {
    height: 400px;
    width: 100%;
}

#cgcard {
    transition: transform .2s;
}

#cgcard:hover {
    transform: scale(1.05);
}
