body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    letter-spacing: 10px;
}

h2, h4, h6 {
    letter-spacing: 5px;
}

hr {
    background: #fad778;
}

p, h3 {
    letter-spacing: 1px;
}

a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    color: #f0ad4e;
}

#add {
    letter-spacing: 0px;
}

#hello {
    margin-top: -380px;
   
}

#info {
    margin-top: -310px;
}

#bye {
    margin-top: -70px;
    
}

#cg {
    margin-top: -5px;
    margin-bottom: 10px;
}

#cgp {
    letter-spacing: 0;
}

#committee {
    letter-spacing: 1px;
}

audio {
    width: 100%;
}

.dropdown-item:focus {
    background: #f0ad4e;
}

#sermons, #test, #events, #connect, #news, #faq {
    
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;

}

#test, #connect, #news {
    background: #fad778;
    color: white;
}

#test:hover {
    color: white;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("https://images.unsplash.com/photo-1547247461-2b90d1cbea8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
    
    background-size: 100%;
    background-repeat: none;
}

#sermons:hover {
    color: white;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("../images/sermons3.jpg");
    
    background-size: 100%;
    background-repeat: none;
}

#connect:hover {
    color: white;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("../images/connect3.jpg");
    
    background-size: 100%;
    background-repeat: none;
}

#events:hover {
    color: white;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("../images/connect.jpg");
    
    background-size: 100%;
    background-repeat: none;
}

#news:hover {
    color: white;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("../images/news.jpg");
    
    background-size: 100%;
    background-repeat: none;
}

#faq:hover {
    color: white;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("../images/faq2.jpg");
    
    background-size: 100%;
    background-repeat: none;
}

#map {
    height: 400px;
    width: 100%;
}

#maptitle {
    letter-spacing: 2px !important;
}

#cgcard {
    transition: transform .2s;
}

#cgcard:hover {
    transform: scale(1.05);
}

#main-pic {
    overflow: hidden;
    max-height: 530px;
}

img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image:hover {
    opacity: 0.5;
}

.sermon {
    max-height: 75px;
}

@media screen and (max-width: 480px) {
    #carouselExampleCaptions {
        display: none;
    }
    
    h2 {
        font-size: 1.3rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    p {
        font-size: 0.9rem;
    }

    #give {
        margin-top: 5px;
    }
}
